application/cache/cache.ini
application/cache/uasdata.ini
application/config/development
application/config/readerself_config.php
application/database/readerself.sqlite
styles/custom.css
update/*.txt
