Options -Indexes -MultiViews
DirectoryIndex index.php index.html
FileETag None

<IfModule mod_php5.c>
	php_value post_max_size 8M
	php_value upload_max_filesize 8M
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?$1
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	<FilesMatch "\.(js|css)$">
		ExpiresDefault A2592000
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	Header unset ETag
	Header unset Pragma
	<FilesMatch "\.(php)$">
		Header set Cache-Control "max-age=0, no-store"
		Header set P3P CP="STA"
		Header unset X-Powered-By
	</FilesMatch>
	<FilesMatch "\.(js|css)$">
		Header set Cache-Control "max-age=2592000"
		Header set Accept-Ranges "none"
	</FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
	<FilesMatch "\.(php|js|css)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>
