<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
				<add value="index.html" />
			</files>
		</defaultDocument>
		<rewrite>
			<rules>
				<rule name="Rule 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{URL}" pattern="^system.*" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="index.php?/{R:1}" appendQueryString="false" />
				</rule>
				<rule name="Rule 2" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{URL}" pattern="^application.*" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="index.php?/{R:1}" appendQueryString="false" />
				</rule>
				<rule name="Rule 3" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php?/{R:1}" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
		<directoryBrowse enabled="false" />
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<dynamicTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>
		<caching>
			<profiles>
				<add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
				<add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
			</profiles>
		</caching>
		<staticContent>
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		</staticContent>
	</system.webServer>
</configuration>
