/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{background-color:#FFFFFF;color:#333333;font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0px;}
body.error{background-color:#FF9090;}
a:link, a:visited{color:#777777;text-decoration:underline;}
a:hover{color:#111111;}
h1{font-size:16px;font-weight:bold;margin:15px 0px;}
h2{font-size:15px;margin:10px 0px;}
h3{font-size:14px;margin:5px 0px;}
h4{font-size:13px;margin:5px 0px;}
h5{font-size:12px;margin:5px 0px;}
h6{font-size:11px;margin:5px 0px;}
p{clear:both;margin:5px 0px;}
img, iframe, video{max-width:100%;}
em{font-style:italic;}
strong{font-weight:bold;}
del{text-decoration:line-through;}
ins{font-style:italic;font-weight:bold;}
pre{border:1px dashed #000000;padding:5px;}
label, .label{cursor:text;display:block;padding-bottom:2px;padding-top:5px;position:relative;}
input, textarea{border: 1px solid #777777;padding:5px;}
textarea, input[type=text], input[type=password]{width:200px;}
aside input[type=text], aside input[type=password]{width:170px;}
.actions{font-size:12px;margin-bottom:5px;}
.actions li{display:inline-block;margin:5px 5px 5px 0px;white-space:nowrap;}
.actions li.hide{display:none !important;}
.actions a span{display:inline-block;}
button, .actions a:link, .actions a:visited{background-color:#A4374F;border:none;color:#EEEEEE;margin:0px;padding:3px 3px 3px 3px;position:relative;text-decoration:none;vertical-align:top;}

header nav{height:25px;margin:10px 0px 0px 10px;max-width:1450px;position:relative;}
/*header nav:last-child{background-color:#FF0000;}*/
/*header nav:first-child{background-color:#00FFFF;}*/
header nav ul:last-child{position:absolute;margin-top:0px;right:10px;top:0px;}
header nav:first-child ul:first-child a:link, nav:first-child ul:first-child a:visited{background-color:#582C1D;}
header nav ul li:last-child{margin-right:0px;}

button{background-color:#9EA64B;cursor:pointer;margin-top:10px;}
aside ul li{margin:5px 0px 5px 0px;}
aside ul li.active{font-weight:bold;}
aside ul li a:link, aside ul li a:visited{display:block;padding:5px 0px;text-decoration:none;}
aside ul li label{display:block;padding:0px 0px 0px 0px;text-decoration:none;}
#overlay, #modal{left:0px;position:absolute;top:0px;}
#modal{background-color:#FFFFFF;z-index:20000;width:350px;}
#modal-display{padding:10px;}
#modal .actions{text-align:right;}
#modal h1{margin:0px 0px 15px 0px;}
#modal textarea{height:100px;resize:none;}
#overlay{background-color:#000000;opacity:0.7;z-index:10000;}
.icon{line-height:inherit !important;margin-right:3px;vertical-align:top;}
.show-phone{display:none !important;}
.show-tablet{display:none !important;}

.paging{clear:both;font-size:12px;margin:20px 0px;padding:5px 5px 5px 0px;}
.paging strong, .paging a:link, .paging a:visited{border:1px solid #999999;margin:0px 5px 0px 0px;padding:2px 4px 2px 5px;text-decoration:none;}
.paging strong{background-color:#777777;color:#FFFFFF;font-weight:normal;text-decoration:none;}
.paging a:hover{background-color:#E7E7E7;}

#cloud p{line-height: 30px;text-align:center;}
#cloud a:link,#cloud a:visited{margin:0px 10px;text-decoration:none;white-space:nowrap;}

#shortcuts li{margin:10px 0px;}
main > section{height:auto;margin:10px 0px 0px 230px;overflow-x:hidden;overflow-y:auto;position:relative;}
aside{float:left;height:auto;margin:10px 0px 0px 0px;overflow-x:hidden;overflow-y:auto;width:200px;}
aside ul{margin:0px 10px;}
aside ul li.result{margin:0px 0px 0px 0px;}
aside ul li h2, aside ul li label{border-top:1px solid #e3e3e3;font-size:14px;padding-top:3px;}

article{background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:3px 3px 3px 3px;clear:both;padding:5px 10px 5px 10px;margin:0px 10px 15px 0px;max-width:1200px;overflow:hidden;}
article.title{background-color:transparent;}
.item-selected{border:1px solid #000000;}
article h2{font-size:14px;font-weight:bold;margin:5px 0px;}
article h2 a:link, article h2 a:visited{text-decoration:none;}
article .actions{float:right;margin-right:0px;}
article .actions li{margin:5px 0px 5px 4px;}
article .actions a:link, article .actions a:visited{background-color:#5660d1;}
article.title .actions a:link, article.title .actions a:visited{background-color:#255966;}

.item-content{line-height:1.4;}
.item .item-geolocation, .item .item-enclosures, .item .item-footer{clear:both;padding-top:10px;}
.item .item-geolocation p, .item .item-enclosures p{margin:10px 0px 5px 0px;}
.item .item-geolocation a:link, .item .item-geolocation a:visited, .item .item-enclosures a:link, .item .item-enclosures a:visited{text-decoration:none;}
main section .item .item-footer .actions{float:none;margin-bottom:10px;text-align:left;}
.item .item-footer .actions li{margin:5px 4px 0px 0px;}
.item .item-footer .actions li:last-child{margin-right:0px;}
.item .item-footer .actions a:link, .item .item-footer .actions a:visited{background-color:#7109aa;}
.item-details{margin-bottom:10px;}
.item-details li{display:inline-block;font-size:13px;margin-right:5px;}
.item-details li.block{display:block;margin-top:4px;}
.item-details li a:link, .item-details li a:visited{text-decoration:none;}
.item table td{background-color:transparent!important;border:none;}
.items_mode .unread_only{display:none;}
.items_display .expand{display:none;}
.item.collapse .hide-collapse{display:none;}
.item.collapse .item-details{margin-bottom:5px;}

[dir=rtl] .icon{margin-left:3px;margin-right:0px;vertical-align:top;}
main > section article[dir=rtl] .actions, main > section article[dir=rtl] .actions{float:left;margin-left:0px;}
main > section article[dir=rtl] .actions li{margin:5px 4px 5px 0px;}
main > section article[dir=rtl] .item-details li{margin-left:5px;margin-right:0px;}
main section article[dir=rtl] .item-footer .actions{float:right;}
main section article[dir=rtl] .item-footer .actions li{margin:5px 0px 0px 4px;}
main section article[dir=rtl] .item-footer .actions li:last-child{margin-left:0px;}

.item-like{clear:both;display:none;margin-top:5px;}

.color, a.color:link, a.color:visited{color:#000000;display:inline-block;margin-right:5px;width:20px;}
.color_percent{background-color:#CCCC99!important;}
.data_table{border-collapse:collapse;border-spacing:0px;float:left;margin:0px 10px 10px 0px;}
.data_table table td{border-bottom:1px solid #E7E7E7;font-size:12px;padding:4px 5px 4px 4px;text-align:left;vertical-align:middle;}
.data_table table td.result{text-align:center;}
.data_table tr:hover td{background-color:#E7E7E7;}

#fullscreen_back{display:none;}
#fullscreen_back{margin:10px 10px;}
.fullscreen_body #fullscreen_back{display:block;}
.fullscreen_body header, .fullscreen_body aside{display:none;}
.fullscreen_body main > section{margin:10px 0px 0px 10px;}
.fullscreen_body article{max-width:none;}

@media(max-width:1000px){
#fullscreen_back{margin:5px 10px 10px 10px;}
header nav{margin:5px 0px 0px 10px;}
.hide-tablet{display:none !important;}
.show-tablet{display:inline-block !important;}
main > section{margin:10px 0px 0px 10px;}
aside{display:none;background-color:#FFFFFF;left:0px;position:absolute;top:20px;width:100%;z-index:1000;}
}
@media(max-width:600px){
main > section{margin-top:40px !important;}
.show-phone{display:inline-block !important;}
.hide-tablet{display:none !important;}
.hide-phone{display:none !important;}
main > section{margin-top:10px !important;}
.item.collapse h2{clear:none;}
.item h2{clear:both;margin-top:5px;}
}
@media(max-width:500px){
.item.collapse h2, .item h2{clear:both;margin-top:5px;}
}