.database_option{display:none;}
input[type=text], input[type=password], textarea{border: 1px solid #d7d8dd;padding:5px;width:97%;}
.paging{padding:5px 5px 5px 0px;}
.paging strong, .paging a:link, .paging a:visited{font-size:14px;padding:2px 4px 2px 5px;text-decoration:none;}
.paging strong{background-color:#777777;color:#FFFFFF;font-weight:normal;text-decoration:none;}
.paging a:hover{background-color:#E7E7E7;}

.allow_notifications{display:none;}
.bookmarklet{display:none;}
.registerContentHandler{display:none;}

.item-content-result h1{font-size:17px;line-height:1;margin:15px 0px;}
.item-content-result h2{font-size:16px;line-height:1;margin:10px 0px;}
.item-content-result h3{font-size:15px;line-height:1;margin:10px 0px;}
.item-content-result h4{font-size:14px;line-height:1;margin:10px 0px;}
.item-content-result h5{font-size:13px;line-height:1;margin:10px 0px;}
.item-content-result h6{font-size:12px;line-height:1;margin:10px 0px;}
.item-content-result p{clear:both;line-height:1.5;margin:5px 0px;}
img, iframe, video{max-width:100%;}
.item-content-result em{font-style:italic;}
.item-content-result strong{font-weight:bold;}
.item-content-result blockquote{-webkit-margin-start:10px;font-size:inherit;}

label {
	display: block;
}
p {
	margin: 0px 0px 4px 0px;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.mdl-card table {
	width: 100%;
}
.color, a.color:link, a.color:visited{color:#000000;display:inline-block;margin-right:5px;width:20px;}
.color_percent{background-color:#AEB2B7!important;}

.item.expand a.expand{display:none;}
.item.collapse a.collapse{display:none;}

.favicon, a.favicon:link, a.favicon:visited {
	background-position: center left;
	background-repeat: no-repeat;
	background-size: 13px 13px;
	padding-left: 16px;
}
h2 .favicon, h2.favicon, h2 a.favicon:link, h2 a.favicon:visited {
	background-size: 16px 16px;
	padding-left: 19px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.favicon {
	padding: 8px 8px 8px 16px;
}

.mdl-layout__header {
	min-height: 38px;
}
.mdl-layout__header-row {
	height: 38px;
	padding: 0px 10px 0px 0px;
}
.mdl-layout__header-row .mdl-button {
	margin-left: 5px;
	overflow: visible;
}
.mdl-button .mdl-badge[data-badge]:after {
	font-size: 11px;
	height: 20px;
	right: -11px;
	top: -5px;
	width: 20px;
}

.mdl-layout__drawer-button {
	height: auto;
	left: 10px;
	line-height: 1;
	width: auto;
}

.mdl-navigation ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.mdl-card .mdl-navigation__link {
	float: left;
	margin: 0px 4px 4px 0px;
	white-space: nowrap;
}
.mdl-layout__drawer .mdl-navigation li {
	padding: 4px 8px;
	position: relative;
}
.mdl-layout__drawer .mdl-navigation li li {
	padding: 4px 8px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	display: inline;
}
.mdl-layout__drawer .mdl-navigation li.active .mdl-navigation__link {
	font-weight: bold;
}
.mdl-layout__drawer .mdl-navigation li.active li .mdl-navigation__link {
	font-weight: normal;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.lock {
	padding: 0px 0px;
	position: absolute;
	right: 5px;
	top: 0px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
	background-color: transparent;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	padding: 8px 8px;
}
.mdl-layout__drawer .mdl-navigation form {
	padding: 0px 8px;
}
.mdl-card {
	min-height: inherit;
	overflow: visible;
}
.mdl-card__title, .mdl-card__supporting-text {
	clear: both;
	padding: 0px 8px;
	width: auto;
}
.item-content-result, .item-enclosures {
	margin-bottom: 10px;
}
.item-enclosures .enclosure {
	margin: 15px 0px;
}
.mdl-card__title {
	display: block;
}
.mdl-card__title .mdl-card__title-text {
	font-size: 15px;
	margin: 4px 0px 4px 0px;
}
.mdl-card__title .mdl-card__title-text {
	padding-right: 18px;
}
.mdl-card__title .mdl-card__title-text a.expand, .mdl-card__title .mdl-card__title-text a.collapse {
	position: absolute;
	right: 0px;
	top: 4px;
}
.mdl-card__title .mdl-card__subtitle-text {
	margin-bottom: 4px;
	overflow: hidden;
}
.mdl-card__actions {
	padding: 4px;
	/*bottom: 0px;*/
	/*padding: 0px;*/
	/*position: absolute;*/
}
.mdl-menu__item {
	height: 24px;
	line-height: 24px;
	padding: 4px 4px;
}
.material-icons {
	margin-right: 2px;
	vertical-align: middle;
}
.material-icons.md-16 {
	font-size: 16px;
}
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-20 {
	font-size: 20px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-30 {
	font-size: 30px;
}
.material-icons.md-48 {
	font-size: 48px;
}

.mdl-card[dir=rtl] .mdl-navigation__link .material-icons{display:none;}
