.item-content-result h1{font-size:17px;line-height:1;margin:15px 0px;}
.item-content-result h2{font-size:16px;line-height:1;margin:10px 0px;}
.item-content-result h3{font-size:15px;line-height:1;margin:10px 0px;}
.item-content-result h4{font-size:14px;line-height:1;margin:10px 0px;}
.item-content-result h5{font-size:13px;line-height:1;margin:10px 0px;}
.item-content-result h6{font-size:12px;line-height:1;margin:10px 0px;}
.item-content-result p{clear:both;line-height:1;margin:5px 0px;}
img, iframe, video{max-width:100%;}
.item-content-result em{font-style:italic;}
.item-content-result strong{font-weight:bold;}

label {
	display: block;
}
p {
	margin: 0px 0px 4px 0px;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.mdl-card table {
	width: 100%;
}
.color, a.color:link, a.color:visited{color:#000000;display:inline-block;margin-right:5px;width:20px;}
.color_percent{background-color:#AEB2B7!important;}

.items_mode .unread_only{display:none;}
.items_display .expand{display:none;}
.item.collapse .hide-collapse{display:none;}

.favicon, a.favicon:link, a.favicon:visited {
	background-position: center left;
	background-repeat: no-repeat;
	background-size: 13px 13px;
	padding-left: 16px;
}
h2 .favicon, h2.favicon, h2 a.favicon:link, h2 a.favicon:visited {
	background-size: 16px 16px;
	padding-left: 19px;
}
.mdl-layout__header {
	min-height: 34px;
}
.mdl-layout__header-row {
	height: 34px;
	padding: 0px 10px 0px 0px;
}

.mdl-layout__drawer-button {
	height: auto;
	left: 10px;
	line-height: 1;
	width: auto;
}

.mdl-navigation ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.mdl-card .mdl-navigation__link {
	padding-right: 4px;
}
.mdl-layout__drawer .mdl-navigation .folder {
	display: inline-block;
	float: left;
	vertical-align: middle;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	padding: 8px 8px;
}
.mdl-card {
	min-height: inherit;
	overflow: visible;
}
.mdl-card__title, .mdl-card__supporting-text {
	clear: both;
	padding: 0px 8px;
	width: auto;
}
.item-content-result, .item-enclosures {
	margin-bottom: 10px;
}
.mdl-card__title {
	display: block;
}
.mdl-card__title .mdl-card__title-text {
	font-size: 16px;
	margin: 4px 0px 4px 0px;
}
.mdl-card__title .mdl-card__title-infos {
	margin-bottom: 4px;
}
.mdl-card__actions {
	padding: 4px;
	/*bottom: 0px;*/
	/*padding: 0px;*/
	/*position: absolute;*/
}
.mdl-menu__item {
	height: 24px;
	line-height: 24px;
	padding: 4px 4px;
}
.material-icons {
	margin-right: 2px;
	vertical-align: top;
}
.material-icons.md-16 {
	font-size: 16px;
}
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-20 {
	font-size: 20px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}



