#content {
	margin: 10px 0px 0px 230px;
}
#items {
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}
#items .item {
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 3px 3px 3px 3px;
	padding: 10px;
	margin: 0px 10px 10px 0px;
}
#sidebar {
	float: left;
	height: auto;
	margin: 10px 0px 0px 10px;
	width: 200px;
}
#sidebar-display {
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 3px 3px 3px 3px;
	padding: 10px;
}
.hide-desktop {
	display: none;
}
@media (max-width:1024px) {
	.hide-tablet {
		display: none !important;
	}
	#content {
		margin: 10px 0px 0px 10px;
	}
	#sidebar {
		display: none;
	}
}
@media (max-width:320px) {
	.hide-tablet {
		display: none !important;
	}
	.hide-phone {
		display: none !important;
	}
}
