#content {
	margin: 10px 0px 0px 230px;
}
#items {
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}
#items .item {
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 3px 3px 3px 3px;
	padding: 10px;
	margin: 0px 10px 10px 0px;
}
#sidebar {
	float: left;
	height: auto;
	margin: 10px 0px 0px 10px;
	width: 200px;
}
#sidebar-display {
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 3px 3px 3px 3px;
	padding: 10px;
}

.item h2{font-size:16px;font-weight:bold;margin: 5px 0px;}
.item h2 a:link, .item h2 a:visited{text-decoration:none;}

.item .actions a:link, .item .actions a:visited {
	background-color: #5660D1;
}

.hide-desktop {
	display: none;
}
@media (max-width:1024px) {
	#content {
		margin: 10px 0px 0px 10px;
	}
	#sidebar {
		display: none;
	}
}
