#shortcuts li{margin:10px 0px;}
#actions-main{margin:10px 20px 0px 230px;max-width:1225px;}
#actions-main .actions{text-align:right;}
#content{margin:10px 0px 0px 230px;}
#items{height:auto;overflow-x:hidden;overflow-y:auto;position:relative;}
#sidebar{float:left;height:auto;margin:10px 0px 0px 0px;overflow-x:hidden;overflow-y:auto;width:200px;}
#sidebar .actions, #sidebar .menu{margin-left:10px;}
#sidebar .actions a:link, #sidebar .actions a:visited{background-color:#21634C;}
#sidebar .actions li:last-child{margin-right:0px;}
#sidebar .menu li.result{margin:0px 0px 0px 0px;}
.item, .neutral{background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:3px 3px 3px 3px;clear:both;padding:5px 10px 5px 10px;margin:0px 10px 15px 0px;max-width:1200px;overflow:hidden;}
.item-selected{border:1px solid #000000;}
.item h2, .neutral h2{font-size:15px;font-weight:bold;margin:5px 0px;}
.item h2 a:link, .item h2 a:visited{text-decoration:none;}
#items .item .actions{float:right;margin-right:0px;}
.item .actions li{margin:5px 0px 5px 4px;}
.item .actions a:link, .item .actions a:visited{background-color:#5660d1;}
.item-content{line-height:1.4;}
.item .item-footer{margin-top:10px;}
#items .item .item-footer .actions{float:none;text-align:left;}
.item .item-footer .actions li{margin:5px 4px 0px 0px;}
.item .item-footer .actions li:last-child{margin-right:0px;}
.item .item-footer .actions a:link, .item .item-footer .actions a:visited{background-color:#7109aa;}
.item-details{margin-bottom:10px;}
.item-details li{display:inline-block;font-size:13px;margin-right:5px;}
.item-details li.categories{display:block;margin-top:3px;}
.item-details li a:link, .item-details li a:visited{text-decoration:none;}
.item table td{background-color:transparent!important;border:none;}
.mode-items .unread_only{display:none;}
#display-items .expand{display:none;}
.item.collapse .item-content, .item.collapse .item-footer{display:none;}
.item.collapse h2{font-size:13px;}
.item.collapse .item-details{margin-bottom:5px;}
@media(max-width:1024px){
#content{margin:10px 0px 0px 10px;}
#actions-main{margin:5px 20px 0px 10px;}
#sidebar{display:none;background-color:#FFFFFF;left:0px;position:absolute;top:25px;width:100%;z-index:1000;}
}
@media(max-width:400px){
#content{margin-top:10px !important;}
#actions-main{margin:5px 5px 0px 10px;}
.item h2{clear:both;font-size:14px;}
}
